<% provide(:title, 'All Users') %>
<% provide(:class_text, 'All User') %>
<% provide(:button_text, '更新') %>

<h1>ユーザー一覧</h1>

<div class="row">
  <div class="col-md-offset-8">
    <%= form_tag(users_path, method: :get) do %>
      <%= label_tag :name, "ユーザー名検索", class:"label-search" %>
      <div class="input-group">
        <%= text_field_tag :search, "", placeholder: "キーワードを入力...", class:"form-control" %>
        <span class="input-group-btn">
          <%= submit_tag '検索', :name => nil, class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag(import_users_path, method: :post, multipart: true) do %>
      <div class="form-group">
        <%= file_field_tag :csv_file %>
      </div>
      <%= submit_tag "CSVインポート", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= will_paginate %>
<table class="table">
  <% @users.each do |user| %>
    <tr>
      <td>
        <div class="col-md-22" col-md-offset-1>
        <% if current_user.admin? && !current_user?(user) %>
        <% @user = user %>
        <%= user.name %>
        <br>| <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-primary" %><br>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" class="btn btn-primary btn-lg">編集</button>
                </h4>
              </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body"><%= render 'users/form_2', locals:{ user: @user } %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>


<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>