<% provide(:title, @user.name) %>

<table class="table table-bordered table-condensed user-table"  id="table-attendances">
  <tr>
    <td>
      <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
      &emsp;<%= l(@first_day, format: :middle) %>　時間管理表&emsp;
      <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
    </td>
    <td>
      <div>指定勤務開始時間　<%= format_basic_info(@user.designed_work_start_time) %></div>
      <div>指定勤務終了時間　<%= format_basic_info(@user.designed_work_end_time)%></div>
    </td>
    <td>基本時間　<%= format_basic_info(@user.basic_work_time) %></td>
    <td>初日　<%= l(@first_day, format: :short) %></td>
  </tr>
  <tr>
    <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
    <td>氏名：<%= @user.name %></td>
    <td>出勤日数：<%= @worked_sum %>日</td>
    <td>締日　<%= l(@last_day, format: :short) %></td>
  </tr>
</table>
<div>
  <div>
    <%= link_to "【所属長承認申請のお知らせ】", attendances_edit_one_month_user_path(date: @first_day) %>
    ２件のお知らせがあります
  </div>
  <div>
    <%= link_to "【勤怠変更申請のお知らせ】", attendances_edit_one_month_user_path(date: @first_day) %>
    ２件のお知らせがあります
  </div>
  <div>
    <% if @user.superior? %>
      <% if @attendance_overwork_request_count == 0 %>
      【残業申請のお知らせ】
      <% else %>
        <%= link_to "【残業申請のお知らせ】", attendances_edit_overwork_notice_user_path(@user), remote: true, class:"request-area" %>
        <div class="request-area"><%= @attendance_overwork_request_count %>件のお知らせがあります</div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="button-area">
  <div>
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class:"btn btn-primary" %>
    <%= link_to "CSVを出力", attendances_edit_one_month_user_path(date: @first_day), class:"btn btn-primary" %>
  </div>
  <div>
    <%= link_to "勤怠修正ログ(承認済み)", attendances_edit_one_month_user_path(date: @first_day), class:"btn btn-primary" %>
  </div>
</div>
<table class="table table-bordered table-condensed table-hover" id="table-attendances">
  <thead>
    <tr>
      <!--rowspan:縦結合、colspan:横結合-->
      <th rowspan="3">残業申請</th>
      <th rowspan="3">日付</th>
      <th rowspan="3">曜日</th>
      <th rowspan="1" colspan="8">【実績】</th>
      <th rowspan="1" colspan="5">所定外勤務</th>
    </tr>
    <tr>  
      <th rowspan="1" colspan="3">出社</th>
      <th rowspan="1" colspan="3">退社</th>
      <th rowspan="2">在社時間</th>
      <th rowspan="2">備考</th>
      <th rowspan="1" colspan="2">終了予定時間</th>
      <th rowspan="2">時間外時間</th>
      <th rowspan="2">業務処理内容</th>        
      <th rowspan="2">指示者確認㊞</th>   
    </tr>
    <tr>
      <th>時</th>
      <th>分</th>
      <th>　　　</th>
      <th>時</th>
      <th>分</th>
      <th>　　　</th>
      <th>時</th>
      <th>分</th>        
    </tr>
  </thead>
  <tbody>
      <% @attendances.each do |day| %>
        <% css_class = case day.worked_on.wday
                       when 6 then 'text-primary'
                       when 0 then 'text-danger'
                       end %>
        <% @day = day %>
        <tr>
          <td><%= link_to "残業申請", attendances_edit_overwork_request_user_path(@user, date: day.worked_on), remote: true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
            <td class = "<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
            <td><%= day.started_at.floor_to(15.minutes).hour if day.started_at.present? %></td>
            <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
            <td>
              <% if (Date.current == day.worked_on) && day.started_at.nil? %>
                <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class:"btn btn-primary btn-attendance" %>
              <% end %>
            </td>
          <td><%= day.finished_at.floor_to(15.minutes).hour if day.finished_at.present? %></td>
          <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
          <td>
            <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "退社", user_attendance_path(@user, day), method: :patch, class:"btn btn-primary btn-attendance" %>
            <% end %>              
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>                                            
        </tr>
      <% end %>  
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="8">総合勤務時間</td>
        <td colspan="5">累計在社時間</td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %>日</td>
        <td colspan="8"><%= format_basic_info(@user.work_time).to_f * @worked_sum %>時間</td>
        <td colspan="5"><%= format("%.2f", @total_working_times.to_f) %>時間</td>         
      </tr>
      <tr>
        <td rowspan="3" colspan="15"></td>
        <td colspan="1">所属長承認　未</td>
      </tr>
      <tr>
        <td colspan="1">上司A</td>
      </tr>
      <tr>
        <td colspan="1"><%= link_to "申請", attendances_edit_one_month_user_path(date: @first_day), class:"btn btn-primary btn-attendance" %>
      </td>
    </tfoot>
  </table>

  <div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="edit-overwork-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
