<% provide(:class_text, 'overwork-notice') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <% @request_users.each do |user| %>
    <h1 class="modal-title">【<%= user.name %>からの残業申請】</h1>
      <div class="modal-body">
        <%= form_with(model: @attendance, url: attendances_update_overwork_notice_user_path(@user, @attendance), local: true, method: :patch) do |f| %>
        <%= render 'shared/error_messages', object: @attendance %>
          <table class="table table-bordered table-condensed table-hover" id="table-overwork-notice">
            <thead class="overtime-request">
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>指定勤務終了時間</th>
                <th>時間外時間</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
            </thead>
            <% @attendance_lists.where(user_id: user.id).each do |attendance| %>
            <tbody class="line">
              <tr>
                <td><%= l(attendance.worked_on, format: :short) %></td>
                <td><%= $days_of_the_week[attendance.worked_on.wday] %></td>
                <td><%= l(attendance.scheduled_finished_at, format: :time) %></td>
                <td></td>
                <td></td>
                <td><%= attendance.business_processing_content %></td>
                <td><%= attendance.request_status %></td>
                <td></td>
                <td><%= link_to "確認", "#", class: "btn btn-primary" %></td>
              </tr>
            </tbody>
            <% end %>                    
          </table>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>