<% provide(:class_text, 'one-month-notice') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <% @request_users.each do |user| %>
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_one_month_notice_user_path(@user, @attendance), local: true, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: @attendance %>
        <table class="table table-bordered table-condensed table-hover" id="table-attendances">
          <h1 class="modal-title">【<%= user.name %>からの勤怠申請】</h1>
            <thead class="attendance-change-request">
              <tr>
                <th>月</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
            </thead>
            <tbody class="line">
              <% @attendance_lists.where(user_id: user.id).each do |work_day| %>
                <%= f.fields_for "attendances[]", work_day do |attendance| %>
                  <tr>
                    <td><%= l(work_day.worked_on, format: :month) %></td>
                    <td>
                      <%= attendance.select :one_month_request_status, [['なし'], ['申請中'], ['承認'], ['否認']], { selected: work_day.one_month_request_status } %>
                    </td>
                    <td><%= attendance.check_box :one_month_change, {class: "change"}, 'true', 'false' %></td>
                    <td><%= link_to "確認", attendances_edit_one_month_request_user_path(user, date: work_day.worked_on.beginning_of_month), class: "btn btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %> 
            </tbody>                   
          </table>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>