<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_attendance_change_request_user_path(date: @first_day), local: true, method: :patch) do |f| %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>翌日</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>指示者確認㊞</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |work_day| %>
        <% css_class = case work_day.worked_on.wday
                       when 6 then 'text-primary'
                       when 0 then 'text-danger'
                       end %>
        <%= f.fields_for "attendances[]", work_day do |attendance| %>
          <tr>
            <%= attendance.hidden_field :modification_request_status, value: "申請中" %>
            <!--出社時間に対しての対応-->
            <% if work_day.after_change_started_at.nil? %>
              <%= attendance.hidden_field :before_change_started_at, value: work_day.started_at %> 
              <%= attendance.hidden_field :initial_started_at, value: work_day.started_at %>
            <% elsif work_day.after_change_started_at.present? && work_day.modification_request_status == "否認" %>
              <%= attendance.hidden_field :before_change_started_at, value: work_day.started_at %>
              <%= attendance.hidden_field :initial_started_at, value: work_day.started_at %> 
            <% else %>
              <%= attendance.hidden_field :before_change_started_at, value: work_day.after_change_started_at %>
              <% if work_day.initial_started_at.nil? %>
                <%= attendance.hidden_field :initial_started_at, value: work_day.after_change_started_at %>
              <% end %>
            <% end %>
            <!--退社時間に対しての対応-->
            <% if work_day.after_change_finished_at.nil? %>
              <%= attendance.hidden_field :before_change_finished_at, value: work_day.finished_at %>
              <%= attendance.hidden_field :initial_finished_at, value: work_day.finished_at %>
            <% elsif work_day.after_change_finished_at.present? && work_day.modification_request_status == "否認" %>
              <%= attendance.hidden_field :before_change_finished_at, value: work_day.finished_at %>
              <%= attendance.hidden_field :initial_finished_at, value: work_day.finished_at %>
            <% else %>
              <%= attendance.hidden_field :before_change_finished_at, value: work_day.after_change_finished_at %>
              <% if work_day.initial_finished_at.nil? %>
                <%= attendance.hidden_field :initial_finished_at, value: work_day.after_change_finished_at %>
              <% end %>
            <% end %>
            <td><%= l(work_day.worked_on, format: :short) %></td>
            <td class = "<%= css_class %>"><%= $days_of_the_week[work_day.worked_on.wday] %></td>
            <% if Date.current < work_day.worked_on %>
              <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
            <% else %>
              <td><%= attendance.time_field :after_change_started_at, class: "form-control" %></td>
              <td><%= attendance.time_field :after_change_finished_at, class: "form-control" %></td>
            <% end %>
            <td><%= attendance.check_box :modification_next_day, {}, class: "form-control" %></td>
            <td>
              <% if work_day.started_at.present? && work_day.finished_at.present? %>
                <%= working_times(work_day.started_at, work_day.finished_at) %>
              <% end %>
            </td>
            <td><%= attendance.text_field :note, class:"form-control" %></td>
            <td>
              <%= attendance.collection_select :modification_request_destination, User.all.where(superior: true).where.not(id: current_user.id).order(:id), :id, :name, prompt: "上長を選択してください。", class: "form-control" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="center">
  <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
  <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>   
</div>
<% end %>